/* Box-Shadow */
@mixin element-shadow {
  box-shadow: 0.1rem 0.2rem 0.3rem $color-quaternary;
}

@mixin hover-shadow {
  box-shadow: 0.1rem 0.2rem 0.3rem ($color-quaternary,10%);
}

/*Media queries*/
@mixin align-content { 
  display: flex;
  justify-content: center;
  align-items: center;
  
}

@mixin small-mobile {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 420px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}