@import "./../utils/variables";
@import "./../utils/mixins";

.button {
  padding: 0.9rem 1.25rem;
  border-radius: 1.8rem;
  color: #FFF;
  background: linear-gradient($color-primary, $color-secondary);
  @include element-shadow;
  border: none;
  font-size: 0.9rem;
  &:hover {
    background: linear-gradient(lighten($color-primary, 5%), lighten($color-secondary, 7%));
    @include hover-shadow;
  }
}

.button--menu {
  padding: 0.9rem 2.5rem;
}