@import "./../utils/variables";
@import "./../utils/mixins";

.button {
  padding: 0.9rem 1.25rem;
  border-radius: 1.8rem;
  cursor: pointer;
  color: #FFF;
  background: linear-gradient($color-primary, $color-secondary);
  @include element-shadow;
  border: none;
  font-size: 0.9rem;
  &:hover {
    background: linear-gradient(lighten($color-primary, 5%), lighten($color-secondary, 7%));
    @include hover-shadow;
  }
  @include largescreen {
    font-size: 1.6rem;
    padding: 2rem 2.5rem;
    font-weight: 500;
    margin: 3rem;
    border-radius: 5rem;
  }
}

.button--menu {
  display: block;
  margin: 3rem auto 5rem;
  padding: 0.9rem 2.5rem;
  @include largescreen {
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    font-weight: 600;
    border-radius: 5rem;
  }
}

.button--heart {
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  .far {
    font-size: 2rem;
    color: #000;
    @include largescreen {
      font-size: 2.5rem;
    }
}
.fas {
    font-size: 2rem;
    @include largescreen {
      font-size: 2.5rem;
    }
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient($color-secondary, $color-primary);
    background-clip: border-box; 
    -webkit-background-clip: text;
    color: transparent;
    transform: scale(0);
    transform-origin: bottom;
}
&:hover, &:active {
    .far {
        background: linear-gradient($color-secondary, $color-primary);
        background-clip: border-box;
        -webkit-background-clip: text;
        color: transparent;
    }
    .fas {
        animation: heartanimation 1s ease-in-out forwards;
    }
  }
}
    
@keyframes heartanimation {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}