@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.logo, .footer__title {
  font-family: "Shrikhand";
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
}

/* Box-Shadow */
/*Media queries*/
.button {
  padding: 0.9rem 1.25rem;
  border-radius: 1.8rem;
  color: #FFF;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 0.1rem 0.2rem 0.3rem #D3D3D3;
  border: none;
  font-size: 0.9rem;
}
.button:hover {
  background: linear-gradient(#a16be0, #ff9de4);
  box-shadow: 0.1rem 0.2rem 0.3rem #adadad;
}

.button--menu {
  padding: 0.9rem 2.5rem;
}

.button--heart {
  position: relative;
  border: none;
  background: transparent;
}
.button--heart .far {
  font-size: 1.8rem;
  color: #bababa;
}
.button--heart .fas {
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
  transform-origin: bottom;
}
.button--heart:hover .far {
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
}
.button--heart:hover .fas {
  -webkit-animation: heartfilling 700ms ease-in-out forwards;
  animation: heartfilling 700ms ease-in-out forwards;
}

@-webkit-keyframes heartfilling {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes heartfilling {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
header {
  margin-top: -1.2rem;
  padding: 0;
  background-color: #fff;
  position: relative;
}
header .logo {
  text-align: center;
  padding: 0.3rem 0 0.3rem 0;
  box-shadow: 0px 0px 10px #1a1a1a;
}
header .logo__menus {
  box-shadow: none;
  margin-bottom: 0rem;
}
header .fas {
  position: absolute;
  font-size: 1.5em;
  color: #3a3a3a;
  top: 1rem;
  left: 1.5rem;
}

/* Box-Shadow */
/*Media queries*/
.footer {
  background-color: #333333;
  padding-bottom: 1rem;
}
.footer__title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 1rem;
}
@media screen and (min-width: 1024px) {
  .footer__title {
    text-align: center;
  }
}
.footer__content {
  list-style: none;
}
@media screen and (min-width: 1024px) {
  .footer__content {
    text-align: center;
  }
}
.footer__content li {
  padding: 0.3rem;
}
.footer__content li a {
  color: #fff;
}
.footer__content li a span {
  padding-left: 0.3rem;
}

/* Box-Shadow */
/*Media queries*/
/* Trouver son restaurant */
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D3D3D3;
  background-color: #ededed;
  margin-top: -17px;
}
.localisation__text {
  font-family: Roboto;
  font-size: 0.9rem;
  font-weight: 700;
  color: #070707;
}
.localisation .fas {
  padding-right: 0.6rem;
  color: #3a3a3a;
}

/* Description site */
.chooserestaurant {
  background-color: #f9f9f9;
  width: 100%;
  text-align: center;
  padding: 1.8rem 0rem 1.8rem 0rem;
}
.chooserestaurant__title {
  width: 80%;
  margin: auto;
  padding-bottom: 0.6rem;
}
.chooserestaurant__text {
  margin: auto;
  padding-bottom: 1.8rem;
  font-weight: 100;
  font-size: 1rem;
}

/* Concept fonctionnement du site */
.concept {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.concept__title {
  font-size: 1.5rem;
  margin-left: 0.8rem;
}
@media screen and (min-width: 1024px) {
  .concept__title {
    text-align: center;
  }
}

.concept__steps {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .concept__steps {
    display: flex;
    width: 95%;
  }
}
.concept__steps__items {
  display: flex;
  align-items: center;
  position: relative;
  width: 85%;
  background-color: #f9f9f9;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin: 0.75rem 0 0.75rem 1.12rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.2rem 0.3rem #D3D3D3;
}
.concept__steps__items:hover {
  background-color: #f2eafb;
}
.concept__steps__items:hover .fas {
  color: #9356DC;
}
@media screen and (min-width: 1024px) {
  .concept__steps__items {
    margin: 0 1.5rem 4rem 1.5rem;
  }
}
.concept__steps__number {
  position: absolute;
  top: 0.3rem;
  left: -0.75rem;
  background-color: #9356DC;
  color: #FFF;
  border-radius: 50%;
  padding: 0.3rem 0.55rem 0.25rem 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.concept__steps__icons {
  margin: 1rem 0 1rem 1.5rem;
  color: #606060;
}
.concept__steps__text {
  margin: 1rem 0rem 1rem 2rem;
  color: #000;
  font-size: 0.9rem;
  font-weight: bold;
}

.restaurants {
  background-color: #f9f9f9;
  padding: 0.5rem 0 0rem 0;
}
.restaurants__title {
  margin: 1rem 0.8rem;
}
@media screen and (min-width: 1024px) {
  .restaurants__title {
    text-align: center;
  }
}

.restaurants__cards {
  padding: 1rem 0.2rem;
}
@media screen and (min-width: 1024px) {
  .restaurants__cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: -1rem;
  }
}

.restaurants__card {
  width: 95%;
  position: relative;
  background-color: #FFF;
  border-radius: 1.2rem;
  margin-left: 2.5%;
  box-shadow: 0.1rem 0.2rem 0.3rem #D3D3D3;
}
@media screen and (min-width: 1024px) {
  .restaurants__card {
    height: 17rem;
    width: 22rem;
    margin-right: 1rem;
  }
  .restaurants__card:hover {
    box-shadow: 0.1rem 0.2rem 0.3rem #adadad;
  }
}
.restaurants__card__img {
  width: 100%;
  height: 10rem;
  border-radius: 1.2rem 1.2rem 0 0;
}
@media screen and (min-width: 1024px) {
  .restaurants__card__img {
    height: 12.5rem;
    width: 22rem;
  }
}
.restaurants__card__new {
  display: block;
  position: absolute;
  background-color: #99E2D0;
  color: #2c9c81;
  padding: 0.2rem 0.6rem;
  font-weight: 500;
  font-size: 0.9rem;
  top: 0;
  right: 0.7rem;
}
.restaurants__card__description {
  height: 3.5rem;
  position: relative;
}
.restaurants__card__name {
  margin: 2% 0 2% 2%;
  color: #000;
}
.restaurants__card__heart {
  position: absolute;
  top: 0.2rem;
  right: 0.9rem;
}

/* Box-Shadow */
/*Media queries*/
.footer {
  background-color: #333333;
  padding-bottom: 1rem;
}
.footer__title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 1rem;
}
@media screen and (min-width: 1024px) {
  .footer__title {
    text-align: center;
  }
}
.footer__content {
  list-style: none;
}
@media screen and (min-width: 1024px) {
  .footer__content {
    text-align: center;
  }
}
.footer__content li {
  padding: 0.3rem;
}
.footer__content li a {
  color: #fff;
}
.footer__content li a span {
  padding-left: 0.3rem;
}

.restaurant__picture__img {
  width: 100%;
  max-height: 40vh;
  object-fit: cover;
}

.restaurant__menus {
  background-color: #D3D3D3;
  border-radius: 1.8rem 1.8rem 0 0;
}
.restaurant__menus__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant__menus__title {
  font-size: 1.7em;
  margin: 1.8rem 0 1.8rem 1.8rem;
}
.restaurant__menus__heart {
  margin-right: 8rem;
  border: rebeccapurple;
}

/* Nom des plats */
.menus {
  border: solid purple;
  position: relative;
  background-color: #D3D3D3;
  border-radius: 2rem 2rem 0 0;
  margin-top: -2rem;
}
.menus__container {
  display: flex;
  justify-content: space-between;
  border-radius: 2rem 2rem 0 0;
  border: solid grey;
}

.starter {
  border: solid red;
}

.choice {
  border: solid blue;
}

.underline {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  margin-bottom: 15px;
}

.menu__dishes {
  position: relative;
  border: solid green;
  height: 4rem;
  width: 98%;
  background-color: #FFF;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.2rem 0.3rem #D3D3D3;
}
.menu__dishes__price {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  transform: translateX(0);
  transition: transform 450ms ease-in-out;
}
.menu__dishes:hover + .animation__selector, .menu__dishes:active + .animation__selector {
  transform: translateX(0%);
}
.menu__dishes:hover + .animation__selector .fas, .menu__dishes:active + .animation__selector .fas {
  transform: rotate(1turn);
}

.dishes {
  border: solid yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection {
  height: 70px;
  width: 60px;
  background-color: #99E2D0;
  color: white;
  font-size: 1.5em;
  border-radius: 0px 17px 17px 0px;
  position: absolute;
  bottom: 15px;
  right: 0px;
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
}
.selection .fas {
  position: absolute;
  top: 23px;
  right: 18px;
  transform: rotate(0);
  transition: transform 500ms ease-in-out;
}

@-webkit-keyframes validation-icon {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes validation-icon {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Box-Shadow */
/*Media queries*/

/*# sourceMappingURL=style.css.map */
