@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
/* Box-Shadow */
/*Media queries*/
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

@media screen and (min-width: 2560px) {
  section {
    width: 70%;
    margin: auto;
  }
}

.logo, .restaurant__menus__title, .footer__title {
  font-family: "Shrikhand";
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
}

/* Box-Shadow */
/*Media queries*/
.button {
  padding: 0.9rem 1.25rem;
  border-radius: 1.8rem;
  color: #FFF;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 0.1rem 0.2rem 0.3rem #D3D3D3;
  border: none;
  font-size: 0.9rem;
}
.button:hover {
  background: linear-gradient(#a16be0, #ff9de4);
  box-shadow: 0.1rem 0.2rem 0.3rem #7a7a7a;
}
@media screen and (min-width: 2560px) {
  .button {
    font-size: 1.6rem;
    padding: 2rem 2.5rem;
    font-weight: 500;
    margin: 3rem;
    border-radius: 5rem;
  }
}

.button--menu {
  display: block;
  margin: 3rem auto 5rem;
  padding: 0.9rem 2.5rem;
}
@media screen and (min-width: 2560px) {
  .button--menu {
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    font-weight: 600;
    border-radius: 5rem;
  }
}

.button--heart {
  position: relative;
  border: none;
  background: transparent;
}
.button--heart .far {
  font-size: 2rem;
  color: #000;
}
@media screen and (min-width: 2560px) {
  .button--heart .far {
    font-size: 2.5rem;
  }
}
.button--heart .fas {
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
  transform-origin: bottom;
}
@media screen and (min-width: 2560px) {
  .button--heart .fas {
    font-size: 2.5rem;
  }
}
.button--heart:hover .far, .button--heart:active .far {
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}
.button--heart:hover .fas, .button--heart:active .fas {
  animation: heartanimation 1s ease-in-out forwards;
}

@keyframes heartanimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
header {
  margin: -1.2rem 0 2rem 0;
  padding: 0;
  background-color: #fff;
  position: relative;
}
@media screen and (min-width: 2560px) {
  header {
    margin-top: -2.2rem;
    font-size: 1.8rem;
  }
}
header .logo {
  text-align: center;
  padding: 0.3rem 0 0.3rem 0;
  box-shadow: 0px 0px 10px #1a1a1a;
}
header .logo__menus {
  box-shadow: none;
  margin-bottom: 0rem;
}
header .fas {
  position: absolute;
  font-size: 1.5em;
  color: #3a3a3a;
  top: 1rem;
  left: 1.5rem;
}

/* Box-Shadow */
/*Media queries*/
.footer {
  background-color: #333333;
  padding-bottom: 1rem;
}
.footer__title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 1rem;
}
@media screen and (max-width: 425px) {
  .footer__title {
    margin-left: 2.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__title {
    text-align: center;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .footer__title {
    text-align: center;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 2560px) {
  .footer__title {
    padding-bottom: 1rem;
    font-size: 3.5rem;
    margin: 0 0 0 2.5rem;
  }
}
.footer__content {
  list-style: none;
}
@media screen and (min-width: 2560px) {
  .footer__content {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .footer__content {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__content {
    text-align: center;
  }
}
.footer__content li {
  padding: 0.3rem;
}
.footer__content li a {
  color: #fff;
}
.footer__content li a span {
  padding-left: 0.3rem;
}

/* Box-Shadow */
/*Media queries*/
/* Loader */
.loading {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loading-page-opacity 2.5s ease-in-out both;
}

.loader {
  position: relative;
  width: 20em;
  height: 20em;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__face {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  animation: animate 3s linear infinite;
}
.loader__face:nth-child(1) {
  width: 20em;
  height: 20em;
  color: #FF79DA;
  border-color: currentColor transparent transparent currentColor;
  border-width: 0.2rem 0.2rem 0 0;
  --deg: -45deg;
  animation-direction: normal;
}
.loader__face:nth-child(2) {
  width: 17em;
  height: 17em;
  color: #9356DC;
  border-color: currentColor currentColor transparent transparent;
  border-width: 0.2rem 0 0 0.2rem;
  --deg: -135deg;
  animation-direction: reverse;
}
.loader__face__circle {
  position: absolute;
  width: 50%;
  height: 0.1rem;
  top: 50%;
  left: 50%;
  background-color: transparent;
  transform: rotate(var(--deg));
  transform-origin: left;
}
.loader__face__circle::before {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  content: "";
  width: 1em;
  height: 1em;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em, 0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

@keyframes animate {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes loading-page-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}
/* Trouver son restaurant */
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D3D3D3;
  background-color: #ededed;
  margin-top: -2rem;
}
@media screen and (min-width: 2560px) {
  .localisation {
    margin-top: -2.1rem;
    width: 100%;
  }
}
.localisation__text {
  font-family: Roboto;
  font-size: 0.9rem;
  font-weight: 700;
  color: #070707;
}
@media screen and (min-width: 2560px) {
  .localisation__text {
    font-size: 1.8rem;
  }
}
.localisation .fas {
  padding-right: 0.6rem;
  color: #3a3a3a;
}
@media screen and (min-width: 2560px) {
  .localisation .fas {
    font-size: 1.6rem;
  }
}

/* Description site */
.chooserestaurant {
  background-color: #f9f9f9;
  width: 100%;
  text-align: center;
  padding: 1.8rem 0rem 1.8rem 0rem;
}
.chooserestaurant__title {
  width: 80%;
  margin: auto;
  padding-bottom: 0.6rem;
}
@media screen and (min-width: 2560px) {
  .chooserestaurant__title {
    font-size: 2.5rem;
  }
}
.chooserestaurant__text {
  margin: auto;
  padding-bottom: 1.8rem;
  font-weight: 100;
  font-size: 1rem;
}
@media screen and (min-width: 2560px) {
  .chooserestaurant__text {
    font-size: 1.8rem;
  }
}

/* Concept fonctionnement du site */
.concept {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .concept {
    margin-left: 2rem;
  }
}
.concept__title {
  font-size: 1.5rem;
  margin-left: 0.8rem;
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .concept__title {
    text-align: center;
  }
}
@media screen and (min-width: 2560px) {
  .concept__title {
    font-size: 2.5rem;
  }
}

.concept__steps {
  width: 100%;
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .concept__steps {
    display: flex;
    width: 95%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .concept__steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.concept__steps__items {
  display: flex;
  align-items: center;
  position: relative;
  width: 85%;
  background-color: #f9f9f9;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin: 0.75rem 0 0.75rem 1.12rem;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.2rem 0.3rem #D3D3D3;
}
.concept__steps__items:hover {
  background-color: #f2eafb;
}
.concept__steps__items:hover .fas {
  color: #9356DC;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .concept__steps__items {
    width: 40%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .concept__steps__items {
    margin: 0 1.5rem 4rem 1.5rem;
  }
}
@media screen and (min-width: 2560px) {
  .concept__steps__items {
    padding: 1rem 0;
  }
}
.concept__steps__number {
  position: absolute;
  top: 0.3rem;
  left: -0.75rem;
  background-color: #9356DC;
  color: #FFF;
  border-radius: 50%;
  padding: 0.3rem 0.55rem 0.25rem 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}
@media screen and (min-width: 2560px) {
  .concept__steps__number {
    font-size: 1.5rem;
    padding: 0.3rem 0.6rem 0.25rem 0.5rem;
    margin: 1.4rem 2rem 0.2rem 0;
  }
}
.concept__steps__icons {
  margin: 1rem 0 1rem 1.5rem;
  color: #606060;
}
@media screen and (min-width: 2560px) {
  .concept__steps__icons {
    font-size: 1.8rem;
    margin-left: 4rem;
  }
}
.concept__steps__text {
  margin: 1rem 0rem 1rem 2rem;
  color: #000;
  font-size: 0.9rem;
  font-weight: bold;
}
@media screen and (min-width: 2560px) {
  .concept__steps__text {
    font-size: 1.8rem;
  }
}

.restaurants {
  background-color: #f9f9f9;
  padding: 0.5rem 0 0rem 0;
}
.restaurants__title {
  margin: 1rem 0.8rem;
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .restaurants__title {
    text-align: center;
  }
}
@media screen and (min-width: 2560px) {
  .restaurants__title {
    font-size: 2rem;
  }
}

.restaurants__cards {
  padding: 1rem 0.2rem;
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .restaurants__cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: -1rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurants__cards {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 2560px) {
  .restaurants__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.restaurants__card {
  width: 95%;
  position: relative;
  background-color: #FFF;
  border-radius: 1.2rem;
  margin-left: 2.5%;
  box-shadow: 0.1rem 0.2rem 0.3rem #D3D3D3;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurants__card {
    height: 17rem;
    width: 21rem;
    margin: 2rem 0;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .restaurants__card {
    height: 17rem;
    width: 21rem;
    margin: 2rem 0;
  }
  .restaurants__card:hover {
    box-shadow: 0.1rem 0.2rem 0.3rem #7a7a7a;
  }
}
@media screen and (min-width: 2560px) {
  .restaurants__card {
    height: 33rem;
    width: 43rem;
  }
}
.restaurants__card__img {
  width: 100%;
  height: 10rem;
  border-radius: 1.2rem 1.2rem 0 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurants__card__img {
    height: 12.5rem;
    width: 21rem;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .restaurants__card__img {
    height: 12.5rem;
    width: 21rem;
  }
}
@media screen and (min-width: 2560px) {
  .restaurants__card__img {
    height: 25rem;
    width: 43rem;
  }
}
.restaurants__card__new {
  display: block;
  position: absolute;
  background-color: #99E2D0;
  color: #2c9c81;
  padding: 0.2rem 0.6rem;
  font-weight: 500;
  font-size: 0.9rem;
  top: 0;
  right: 0.7rem;
}
@media screen and (min-width: 2560px) {
  .restaurants__card__new {
    font-size: 1.8rem;
  }
}
.restaurants__card__description {
  height: 3.5rem;
  position: relative;
}
@media screen and (min-width: 2560px) {
  .restaurants__card__description {
    font-size: 1.8rem;
  }
}
.restaurants__card__name {
  margin: 2% 0 2% 2%;
  color: #000;
}
.restaurants__card__heart {
  position: absolute;
  top: 0.2rem;
  right: 0.9rem;
}

/* Box-Shadow */
/*Media queries*/
.footer {
  background-color: #333333;
  padding-bottom: 1rem;
}
.footer__title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  padding-top: 1rem;
}
@media screen and (max-width: 425px) {
  .footer__title {
    margin-left: 2.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__title {
    text-align: center;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .footer__title {
    text-align: center;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 2560px) {
  .footer__title {
    padding-bottom: 1rem;
    font-size: 3.5rem;
    margin: 0 0 0 2.5rem;
  }
}
.footer__content {
  list-style: none;
}
@media screen and (min-width: 2560px) {
  .footer__content {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .footer__content {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__content {
    text-align: center;
  }
}
.footer__content li {
  padding: 0.3rem;
}
.footer__content li a {
  color: #fff;
}
.footer__content li a span {
  padding-left: 0.3rem;
}

.restaurant__picture {
  width: 100vw;
  max-height: 40vh;
  object-fit: cover;
  margin-bottom: -2rem;
}

.restaurant__menus {
  background-color: #f9f9f9;
  border-radius: 1.8rem 1.8rem 0 0;
}
.restaurant__menus__title {
  font-size: 1.7em;
  margin: 1.8rem 0 1.8rem 1.8rem;
}
@media screen and (max-width: 425px) {
  .restaurant__menus__title {
    margin: 1.8rem 0 0 0.8rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 2560px) {
  .restaurant__menus__title {
    font-size: 2.5rem;
  }
}
.restaurant__menus__heart {
  position: absolute;
  top: 3rem;
  right: 8rem;
}
@media screen and (max-width: 425px) {
  .restaurant__menus__heart {
    top: 2rem;
    right: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant__menus__heart {
    top: 3rem;
    right: 3rem;
  }
}

/* Nom des plats */
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .container {
    display: flex;
    justify-content: center;
  }
}

.restaurant {
  position: relative;
  background-color: #f9f9f9;
  border-radius: 2rem 2rem 0 0;
  margin-top: -2rem;
}
.restaurant__menus {
  display: flex;
  justify-content: space-between;
  border-radius: 2rem 2rem 0 0;
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .restaurant__menus {
    margin: 1rem 4rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant__menus {
    margin: 1rem 1rem;
  }
}
@media screen and (max-width: 425px) {
  .restaurant__title {
    margin-left: 0;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .restaurant .card {
    width: 38%;
  }
}
.restaurant .card__dishes {
  width: 95%;
}
.restaurant .card__dishes__title {
  font-size: 1.2em;
  font-weight: 400;
  margin-left: 0.3rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant .card__dishes__title {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 2560px) {
  .restaurant .card__dishes__title {
    font-size: 1.8rem;
  }
}
.restaurant .card__dishes__underline {
  background-color: #99E2D0;
  width: 2.5rem;
  height: 0.15rem;
  margin: -0.8rem 0 0.9rem 0.3rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant .card__dishes__underline {
    margin-left: 1rem;
  }
}
.restaurant .menu {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant .menu {
    width: 60%;
    margin: auto;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .restaurant .menu {
    width: 100%;
  }
}
.restaurant .menu__dishes {
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  height: 4rem;
  width: 98%;
  background-color: #FFF;
  margin: 0.3rem 0.2rem 0.3rem 0;
  color: #000;
  border-radius: 1rem;
  opacity: 0;
  animation: menu-animation 400ms ease-in-out both;
  box-shadow: 0.1rem 0.2rem 0.3rem #D3D3D3;
}
.restaurant .menu__dishes--1 {
  animation-delay: 0ms;
}
.restaurant .menu__dishes--2 {
  animation-delay: 400ms;
}
.restaurant .menu__dishes--3 {
  animation-delay: 800ms;
}
.restaurant .menu__dishes--4 {
  animation-delay: 1200ms;
}
.restaurant .menu__dishes--5 {
  animation-delay: 1600ms;
}
.restaurant .menu__dishes--6 {
  animation-delay: 2000ms;
}
.restaurant .menu__dishes--7 {
  animation-delay: 2400ms;
}
.restaurant .menu__dishes--8 {
  animation-delay: 2800ms;
}
.restaurant .menu__dishes--9 {
  animation-delay: 3200ms;
}
.restaurant .menu__dishes--10 {
  animation-delay: 3600ms;
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .restaurant .menu__dishes {
    width: 98%;
  }
}
@media screen and (min-width: 2560px) {
  .restaurant .menu__dishes {
    padding-bottom: 0.4rem;
  }
}
.restaurant .menu__dishes__title {
  margin: 0.4rem;
  font-size: 1.1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (min-width: 2560px) {
  .restaurant .menu__dishes__title {
    font-size: 1.5rem;
  }
}
.restaurant .menu__dishes__description {
  margin: 0.4rem;
  font-size: 0.9em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media screen and (max-width: 425px) {
  .restaurant .menu__dishes__description {
    width: 80%;
  }
}
@media screen and (min-width: 2560px) {
  .restaurant .menu__dishes__description {
    font-size: 1.3rem;
  }
}
.restaurant .menu__dishes__price {
  position: absolute;
  top: 1.15rem;
  right: 1rem;
  font-weight: 500;
}
@media screen and (min-width: 2560px) {
  .restaurant .menu__dishes__price {
    font-size: 1.2rem;
  }
}
.restaurant .menu__dishes:hover .fas, .restaurant .menu__dishes:active .fas {
  transform: rotate(1turn);
}
.restaurant .menu__dishes:hover .menu__dishes__title, .restaurant .menu__dishes:active .menu__dishes__title {
  width: 80%;
}
.restaurant .menu__dishes:hover .menu__dishes__description, .restaurant .menu__dishes:active .menu__dishes__description {
  width: 60%;
}
.restaurant .menu__dishes:hover .menu__dishes__price, .restaurant .menu__dishes:active .menu__dishes__price {
  transition: 1s;
  right: 5rem;
}
.restaurant .menu__dishes:hover .menu__dishes__animation, .restaurant .menu__dishes:active .menu__dishes__animation {
  opacity: 1;
  transition: 1s;
  right: 0;
}
.restaurant .menu__dishes__animation {
  height: 4rem;
  width: 20%;
  position: absolute;
  top: 0rem;
  right: -6.2rem;
  background-color: #99E2D0;
  color: white;
  font-size: 1.5em;
  border-radius: 0 1rem 1rem 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurant .menu__dishes__animation {
    width: 14%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .restaurant .menu__dishes__animation {
    width: 11%;
  }
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .restaurant .menu__dishes__animation {
    width: 13%;
  }
}
@media screen and (min-width: 2560px) {
  .restaurant .menu__dishes__animation {
    padding-bottom: 0.4rem;
  }
}
.restaurant .menu__dishes__animation:hover, .restaurant .menu__dishes__animation:active .menu__dishes {
  opacity: 1;
  transform: translateX(13%);
}
.restaurant .menu__dishes__animation .fas {
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  transform: rotate(0);
  transition: transform 1s ease-in-out;
}
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .restaurant .menu__dishes__animation .fas {
    right: 1.2rem;
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Box-Shadow */
/*Media queries*/

/*# sourceMappingURL=style.css.map */
