@import "./../utils/variables";
@import "./../utils/mixins";

.footer {
  background-color: $color-footer;
  padding-bottom: 1rem;
  &__title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    padding-top: 1rem;
    @include desktop {
      text-align: center;
    }
    @include tablet {
      text-align: center;
    }
  }
  &__content {
    list-style: none;
    @include desktop {
      text-align: center;
    }
    @include tablet {
      text-align: center;
    }
    li {
      padding: 0.3rem;
      a {
        color: #fff;
        span {
          padding-left: 0.3rem;
        }
      }
    }
  }
}