@import "../utils/variables";
@import "../layout/footer";

.restaurant__picture {
  &__img {
     width: 100%;
     max-height: 40vh;
     object-fit: cover;
  }
}

.restaurant__menus {
  background-color: $color-quaternary-light;
  border-radius: 1.8rem 1.8rem 0 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 1.7em;
    margin: 1.8rem 0 1.8rem 1.8rem;
  }
  &__heart {
    margin-right: 8rem;
    border: rebeccapurple;    
  }
}

/* Nom des plats */

.restaurant {
  border: solid purple;
  position: relative;
  background-color: $color-quaternary-light;
  border-radius: 2rem 2rem 0 0;
  margin-top: -2rem;
  &__menus {
    display: flex;
    justify-content: space-between;
    border-radius: 2rem 2rem 0 0;
    border: solid grey;
  }
}

.card {
  &__dishes {
    border: solid grey;
    &__title {
      font-size: 1.1em;
      font-weight: 400;
      margin-left: 0.3rem;
    }
    &__underline {
      background-color: $color-tertiary;
      width: 2.5rem;
      height: 0.15rem;
      margin: -0.8rem 0 0.9rem 0.3rem;
    }
  }
}

.menu  {
  border: solid yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__dishes {
    position: relative;
    height: 4rem;
    width: 98%;
    background-color: #FFF;
    margin: 0.3rem 0.2rem 0.3rem 0;
    color: #000;
    border-radius: 1rem;
    @include element-shadow;
    @include desktop {
      width: 30%;
    }
    &__title {
      margin: 0.4rem;
      font-size: 1.1em;
    }
    &__description {
      margin: 0.4rem;
      font-size: 1em;
    }
    &__price {
      position: absolute;
      top: 1.15rem;
      right: 1rem;
      font-weight: 500;
    }
    &__animation {
      height: 4rem;
      width: 20%;
      position: absolute;
      top: 0rem;
      right: 0rem;
      background-color: $color-tertiary;
      color: white;
      font-size: 1.5em;
      border-radius: 0 1rem 1rem 0;
      @include desktop {
        width: 13%;
      }
      .fas {
        position: absolute;
        top: 1.3rem;
        right: 1rem;
        @include desktop {
          right: 1.2rem;
        }
      }
    }
  }
}
