@import "../utils/variables";
@import "../layout/footer";

.restaurant__picture {
  &__img {
     width: 100%;
     max-height: 40vh;
     object-fit: cover;
  }
}

.restaurant__menus {
  background-color: $color-quaternary-light;
  border-radius: 1.8rem 1.8rem 0 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 1.7em;
    margin: 1.8rem 0 1.8rem 1.8rem;
    @include mobile {
      margin: 1.8rem 0 0 0.8rem;
      font-size: 1.5rem;
    }
    @include largescreen {
      font-size: 2.5rem;
    }
  }
  &__heart {
    position: absolute;
    top: 3rem;
    right: 8rem;
    @include mobile {
      top: 2rem;
      right: 1.5rem;
    }
    @include tablet {
      top: 3rem;
      right: 3rem;
    }
  }
}

/* Nom des plats */

.container {
    @include desktop {
    display: flex;
    justify-content: center;
  }
}

.restaurant {
  border: solid purple;
  position: relative;
  background-color: $color-quaternary-light;
  border-radius: 2rem 2rem 0 0;
  margin-top: -2rem;
  &__menus {
    display: flex;
    justify-content: space-between;
    border-radius: 2rem 2rem 0 0;
    @include desktop {
      margin: 1rem 4rem;
    }
    @include tablet {
      margin: 1rem 1rem;
    }
  }
  &__title {
    @include mobile {
      margin-left: 0;
    }
  }

.card {
  @include desktop {
    width: 38%;
    border: solid blue;
  }
  &__dishes {
    width: 95%;
    &__title {
      font-size: 1.2em;
      font-weight: 400;
      margin-left: 0.3rem;
      @include tablet {
        margin-left: 1rem;
      }
      @include largescreen {
        font-size: 1.8rem;
      }
    }
    &__underline {
      background-color: $color-tertiary;
      width: 2.5rem;
      height: 0.15rem;
      margin: -0.8rem 0 0.9rem 0.3rem;
      @include tablet {
        margin-left: 1rem;
      }
    }
  }
}

.menu  {
  border: solid yellow;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  @include tablet {
    width: 60%;
    margin: auto;
  }
  @include desktop {
    width: 100%;
  }
  &__dishes {
    border: solid salmon;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    height: 4rem;
    width: 98%;
    background-color: #FFF;
    margin: 0.3rem 0.2rem 0.3rem 0;
    color: #000;
    border-radius: 1rem;
    opacity: 0;
    animation: menu-animation 400ms ease-in-out both;
    @for $i from 1 to 11 {
      &--#{$i} {
        animation-delay: 400ms * ($i - 1);
      }
    }
    @include element-shadow;
    @include desktop {
      width: 98%;
    }
    @include largescreen {
      padding-bottom: 0.4rem;
    }
    &__title {
      margin: 0.4rem;
      font-size: 1.1em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @include largescreen {
        font-size: 1.5rem;
      }
    }
    &__description {
      margin: 0.4rem;
      font-size: 0.9em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @include mobile {
        width: 80%;
      }
      @include largescreen {
        font-size: 1.3rem;
      }
    }
    &__price {
      position: absolute;
      top: 1.15rem;
      right: 1rem;
      font-weight: 500;
      @include largescreen {
        font-size: 1.2rem;
      }
    }
      &:hover, &:active {
        .fas {
          transform: rotate(1turn);
        }
        .menu__dishes__title {
          width: 80%;
        }

        .menu__dishes__description {
          width: 60%;
        }
        .menu__dishes__price {
          transition: 1s;
          right: 5rem
        }
        .menu__dishes__animation {
          opacity: 1;
          transition: 1s;
          right: 0;
        }
      }
      &__animation {
        height: 4rem;
        width: 20%;
        position: absolute;
        top: 0rem;
        right: -6.2rem;
        background-color: $color-tertiary;
        color: white;
        font-size: 1.5em;
        border-radius: 0 1rem 1rem 0;
        @include tablet {
          width: 14%;
        }
        @include smalldesktop {
          width: 11%;
        }
        @include desktop {
          width: 13%;
        }
        @include largescreen {
          padding-bottom: 0.4rem;
        }
        &:hover, &:active .menu__dishes {
          opacity: 1;
          transform: translateX(13%);
        }
        .fas {
          position: absolute;
          top: 1.3rem;
          right: 1rem;
          transform: rotate(0);
          transition: transform  1s ease-in-out;
          @include desktop {
            right: 1.2rem;
          }
        }
      }
    }
  }
}

@keyframes menu-animation {
  0% {
      opacity: 0;
      transform: translateY(10%);
  }
  50% {
      opacity: 0.5;
      transform: translateY(5%);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}
