@import "../utils/variables";
@import "../layout/footer";

.restaurant__picture {
  &__img {
     width: 100%;
     max-height: 40vh;
     object-fit: cover;
  }
}

.restaurant__menus {
  background-color: $color-quaternary;
  border-radius: 1.8rem 1.8rem 0 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-size: 1.7em;
    margin: 1.8rem 0 1.8rem 1.8rem;
  }
  &__heart {
    margin-right: 8rem;
    border: rebeccapurple;    
  }
}

/* Nom des plats */

.menus {
  border: solid purple;
  position: relative;
  background-color: $color-quaternary;
  border-radius: 2rem 2rem 0 0;
  margin-top: -2rem;
  &__container {
    display: flex;
    justify-content: space-between;
    border-radius: 2rem 2rem 0 0;
    border: solid grey;
  }
}


.starter {
  border: solid red;
}

.choice {
  border: solid blue;
}

.underline {
  background-color: $color-tertiary;
  width: 40px;
  height: 3px;
  margin-bottom: 15px;
}

.menu__dishes {
  position: relative;
  border: solid green;
  height: 4rem;
  width: 98%;
  background-color: #FFF;
  border-radius: 1rem;
  @include element-shadow;
    &__price {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      transform: translateX(0);
      transition: transform 450ms ease-in-out;
      }
      &:hover, &:active {
        + .animation__selector {
            transform: translateX(0%);
            .fas {
                transform: rotate(1turn);
          }
        }
      }
    
  }


.dishes  {
  border: solid yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selection {
  height: 70px;
  width: 60px;
  background-color: $color-tertiary;
  color: white;
  font-size: 1.5em;
  border-radius: 0px 17px 17px 0px;
  position: absolute;
  bottom: 15px;
  right: 0px;
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
  .fas {
      position: absolute;
      top: 23px;
      right: 18px;
      transform: rotate(0);
      transition: transform  500ms ease-in-out;
    }
  }

@-webkit-keyframes validation-icon {
  0% {
      opacity: 0;
      transform: translateY(10%);
  }
  50% {
      opacity: 0.5;
      transform: translateY(5%);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes validation-icon {
  0% {
      opacity: 0;
      transform: translateY(10%);
  }
  50% {
      opacity: 0.5;
      transform: translateY(5%);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}